body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
     background-color: #f4f4f4;
}
header {
    background-color: #333;
    color: #fff;
    padding: 10px 20px;
    text-align: center;
}       
nav {
    margin: 15px 0;
}
nav a {
    margin: 0 15px;
    color: #fff;
    text-decoration: none;
}
.container {
    width: 80%;
    margin: auto;
    padding: 20px;
    background: #fff;
    border-radius: 8px;
    box-shadow: 0 0 10px rgba(0,0,0,0.1);
}
input[type="file"] {
    margin: 10px 0;
}
.result {
    margin-top: 20px;
}
.sidebar {
    width: 80%;
    padding: 10px ;
    flex-direction: column;
    align-items: center;
}
.button {
    border-radius: 4px; /* 可以添加圓角 */
    transition: background-color 0.3s, border-color 0.3s; /* 添加過渡效果 */
}

.button:hover {
    background-color: #f0f0f0; /* 懸停時的背景色 */
    border-color: #aaa; /* 懸停時的邊框顏色 */
}

#result {
    margin: 20px 0;
    text-align: center;
}

#result img {
    max-width: 100%;
    height: auto;
    border-radius: 8px;
    box-shadow: 0 2px 4px rgba(0,0,0,0.1);
}

#label-container {
    margin: 20px 0;
    padding: 15px;
    background-color: #fff;
    border-radius: 8px;
    box-shadow: 0 2px 4px rgba(0,0,0,0.1);
}

.button {
    background-color: #4CAF50;
    border: none;
    color: white;
    padding: 10px 20px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    margin: 4px 2px;
    cursor: pointer;
    border-radius: 4px;
    transition: background-color 0.3s;
}

.button:hover {
    background-color: #45a049;
}
